<!DOCTYPE html>
<html lang="en">
<head>
	<title>BJJ Fribourg Program Schedule</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.css' rel='stylesheet' />
	
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.js'></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
</head>

<body>
<div class="container">	
	<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>		
		
		<div class="alert alert-info" ng-show="isLoading">Loading...</div>
		<div ng-show="err" class="alert alert-danger">{{err}}</div>
		<a class="btn btn-info btn-lg pull-right" ng-show="!inCfgMode()" ng-click="loginErr = null;cfgPwd = null; showCfgPwd = true">
			<span class="glyphicon glyphicon-cog"></span>
		</a>		
		<div ng-show="showCfgPwd" class="panel panel-primary">
			<div class="panel-heading">Enter password</div>			
			<div class="panel-body">
				<form>					
					<div class="form-group">
					  <div ng-show="loginErr" class="alert alert-danger">Wrong password</div>
					</div>
					<div class="form-group">
					  <label for="pwd">Password:</label>
					  <input type="password" class="form-control" id="pwd" ng-model="cfgPwd">					 
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="login()">OK</button>
						<button class="btn btn-primary" ng-click="cfgPwd=null;showCfgPwd = false">Cancel</button>
					</div>
				</form>				
				
			</div>
		</div>
		
		<div ng-show="showCfg" class="panel panel-primary">
			<div class="panel-heading">Configuration</div>			
			<div class="panel-body">
				<form>										
					<div class="form-group">
					  	<label for="classNo">Number of classes:</label>
						<input type="number" class="form-control" id="classNo" ng-model="TotClasses">
					</div>
					<div class="form-group">
					  	<label for="weeksNo">Number of weeks to schedule:</label>
						<input type="number" class="form-control" id="weeksNo" ng-model="weeks">
					</div>
					<div class="form-group">
					  	<label for="startDT">Schedule start date:</label>
						<input type="date" class="form-control" id="startDT" ng-model="startDT"  >
					</div>
					<div class="form-group">
					  	<label for="nonWorkingDays">Non working days:</label>
						<a class="btn btn-info btn-lg" ng-click="addNonWorkingDay()"> 
							<span class="glyphicon glyphicon-plus"></span>
						</a>
						<div ng-repeat="nwd in nonWorkingDays">
							<div class="well">
								From:
								<input type="date" class="form-control"  ng-model="nwd.start">
								To:
								<input type="date" class="form-control"  ng-model="nwd.end">
								<a class="btn btn-info btn-lg" ng-click="removeNonWorkingDay(nwd)"> 
									<span class="glyphicon glyphicon-minus"></span>
								</a>
							</div>
						</div>
						
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="storeConfig()">Store</button>
					</div>
				</form>				
				
			</div>
		</div>
		
		
		<pre ng-show="false">{{output}}</pre>
		<div ng-show="false">{{crtData}}</div>
		<div ng-show="!inCfgMode()">		
			<div class="alert alert-info">
				<strong>Gracie Combatives</strong>
				<br/>
				Schedule from {{startDT| date:'dd-MMM-yyyy'}} to {{crtDT| date:'dd-MMM-yyyy'}}
			</div>
			<div id='calendar' ></div>  
		</div>
	</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $filter, $http) {    
			
	$scope.init = function() {		
		$scope.ADJTOSEARCH = 7;		
		
		//editable
		$scope.TotClasses = 23;
		$scope.weeks = 32;
		$scope.startDT = new Date('2022-01-30');		
		$scope.nonWorkingDays = []; //[{start:new Date('2021-12-23'), end:new Date('2022-01-10')}];		
		//
								
		$scope.startData = [];
		$scope.startData.push({day: "Mon", hour: "19:15", lessons: [2, 22, 18, 5, 23, 19, 22, 14,  8, 12, 4, 22, 9]}); //slot 1 Mon 19:15
		$scope.startData.push({day: "Tue", hour: "18:00", lessons: [20, 13, 15, 3, 20, 1, 12, 23, 5,  3, 21, 15, 10, 14 ]}); //slot 2 Tue 18:00
		$scope.startData.push({day: "Wed", hour: "12:00", lessons: [18, 21, 15, 10, 4, 13, 17,  11, 19, 6, 23, 1 ]}); //slot 3 Wed 12:00
		$scope.startData.push({day: "Wed", hour: "19:15", lessons: [9, 5, 23, 21, 21, 4, 9, 7, 2,  22, 14, 16, 8, 13, 6 ]}); //slot 4 Wed 19:15
		$scope.startData.push({day: "Thu", hour: "12:00", lessons: [4, 7, 5, 2, 20, 21, 19,  10, 1, 17, 9, 5 ]}); //slot 5 Thu 12:00
		$scope.startData.push({day: "Thu", hour: "18:00", lessons: [17, 12, 16, 8, 8, 17, 18, 8, 10,  23, 7, 18, 11, 20]});//slot 6 Thu 18:00
		$scope.startData.push({day: "Fri", hour: "12:00", lessons: [21, 11, 22, 3, 6, 11, 9,  13, 20, 2, 8, 3 ]}); //slot 7 Fri 12:00
		$scope.startData.push({day: "Fri", hour: "19:15", lessons: [7, 19, 14, 16, 15, 3, 11,  7, 5, 3, 16, 19  ]}); //slot 8 Fri 19:15
		$scope.startData.push({day: "Sat", hour: "11:00", general: true}); //slot 9 Sat 11:00
		
		
		$scope.output = '';
		$scope.err;
		
		$scope.crtDT;
		$scope.isLoading = false;		
		$scope.showCfg = false;
		$scope.showCfgPwd = false;
		$scope.loginErr = false;
		$scope.cfgPwd;
		
		//load setting from extendedclass
		$scope.isLoading = true;
		$http.get("https://json.extendsclass.com/bin/9f183e367aee")
		.then(function (response) {           			
			$scope.TotClasses = response.data.TotClasses;
			$scope.weeks = response.data.weeks;
			//$scope.startDT = new Date(response.data.startDT);		
			$scope.startDT = new Date('2022-01-29');		
			$scope.nonWorkingDays = [];
			for (var nw = 0; nw < response.data.nonWorkingDays.length; nw++) {
				var nwd = response.data.nonWorkingDays[nw];
				$scope.nonWorkingDays.push({start: new Date(nwd.start), end: new Date(nwd.end)});		
			}
			$scope.isLoading = false;	
			$scope.findSchedules();
		}, function (error) {
            $scope.isLoading = false;	
			$scope.err = error.data.message;
			return;
        });
		
	}
	
	
	$scope.add1Hour = function(dt) {
		dt.setTime(dt.getTime() + (1*60*60*1000));
		return dt;
	}	
	
	$scope.findSchedules = function() {
		$scope.err = null;
		$scope.crtDT = angular.copy($scope.startDT);
		$scope.classes = [];
		$scope.crtData = angular.copy($scope.startData);		
		for(var d = 1; d <= $scope.weeks * 7; d++) {
			$scope.crtDT.setDate($scope.crtDT.getDate() + 1);
			if ($scope.isNonWorkingDay($scope.crtDT)) {
				$scope.classes.push({title: 'Vacation', start: angular.copy($scope.crtDT),  allDay: true, color: '#aaaaaa'});		
				continue;
			}
			
			for (var iSlt = 0; iSlt < $scope.crtData.length; iSlt++) {
				var slot = $scope.crtData[iSlt];
				if ($scope.crtDT.toString().split(' ')[0] != slot.day)
					continue;
				if (slot.general) {
					slot.crtDate = angular.copy($scope.crtDT);					
					slot.crtDate.setHours(slot.hour.split(':')[0], slot.hour.split(':')[1]);					
					$scope.classes.push({title: '\nGeneral', start: angular.copy(slot.crtDate)});					
					$scope.output += "Slot: " + (iSlt + 1) + ", general class, for: " +  slot.crtDate + "\r\n";                		
				}
				else {
					var cFound = -1;
					for (var adjMax = $scope.ADJTOSEARCH; adjMax >= 3; adjMax--) {
						for (var c = 1; c <= $scope.TotClasses; c++) {
							var good = !$scope.IsLastInAdjacent(adjMax, iSlt, c);
							if (good)
								good = !$scope.IsInLastX(slot.lessons, $scope.TotClasses, c);
							if (good) {
								if (adjMax != $scope.ADJTOSEARCH)
									$scope.output += "...using adj = " + adjMax + "\r\n";
								cFound = c;
								break;
							}	
						}
						if (cFound > 0)
							break;
					}
					if (cFound == -1)
						for (var inLast = $scope.TotClasses; inLast >= $scope.TotClasses - 7; inLast--) {
							for (var c = 1; c <= $scope.TotClasses; c++)
							{
								var good = !$scope.IsLastInAdjacent($scope.ADJTOSEARCH, iSlt, c);
								if (good)
									good = !$scope.IsInLastX(slot.lessons, inLast, c);
								if (good) {
									if (inLast!= $scope.TotClasses)
										$scope.output += "...using inLast = " + inLast + "\r\n";
									cFound = c;
									break;
								}
							}
							if (cFound > 0)
								break;
						}			
					slot.lessons.push(cFound);
					if (cFound > 0) {                									
						slot.crtDate = angular.copy($scope.crtDT);										
						slot.crtDate.setHours(slot.hour.split(':')[0], slot.hour.split(':')[1]);
						$scope.classes.push({title: '\nCl. ' + cFound, start: angular.copy(slot.crtDate), });					
						$scope.output += "Slot: " + (iSlt + 1) + ", found new class: " + cFound + ", for: " +  slot.crtDate + "\r\n";                		
						
					}
					else  {              
						var msg = "Slot: " + (iSlt + 1) + ", day: " + $filter('date')($scope.crtDT,'yyyy-MM-dd')  + ", did not find new class!!!" + "\r\n";
						$scope.output +=  msg
						$scope.err = msg;
					}
						
				
				}
			}
		}					
		$("#calendar").fullCalendar('destroy');
		$('#calendar').fullCalendar({  events: $scope.classes, timeFormat: 'HH:mm', defaultDate: $scope.startDT, contentHeight: "auto"});						
    };
	
	$scope.IsLastInAdjacent = function(adjMax, slot, c) {		
		//check timely adjacent slots						
		for(var cIdx = $scope.classes.length - 1; cIdx >= Math.max(0, $scope.classes.length - adjMax); cIdx--) {
			var cls = $scope.classes[cIdx];
			if (cls.title == "\nCl. " + c)
				return true;
		}
		
		return false;
	}
	
	$scope.IsInLastX = function(collection, lastX, c) {		
		if (collection != null) {
			if (collection.length > lastX)
			{
				for (var i = collection.length - lastX; i < collection.length; i++)
					if (collection[i] == c)
						return true;
			}
			else
				return $scope.Contains(collection, c);

		}
		return false;
	}
	
	$scope.Contains = function(collection, val) {
		for(var i = 0; i < collection.length; i++)
			if (collection[i] == val)
				return true;
		return false;
	}
		
	
	$scope.isNonWorkingDay = function(crtDate) {		
		for(var inwd = 0; inwd < $scope.nonWorkingDays.length; inwd++) {
			var nwd = $scope.nonWorkingDays[inwd];
			if (nwd.start <= crtDate && crtDate <= nwd.end) {									
				return true;
			}
		}		
		
		return false;
	}
			
    $scope.inCfgMode = function() {
		return $scope.showCfg || $scope.showCfgPwd;
	}
	
	$scope.login = function() {		
		$scope.loginErr = false;
		var hashObj = new jsSHA("SHA-512", "TEXT", {numRounds: 1});
		hashObj.update($scope.cfgPwd);
		var hash = hashObj.getHash("HEX");
		if (hash == "c86d7d9e8b66b6a5e6511c7d51d7da0bb5f8316551024750555fb418d568235ba8fb877a4718c5f332ba859eaf0130f23c169dad9c38c829f3b42710ab16428f") {
			$scope.showCfgPwd = false;
			$scope.showCfg = true;
		} else
			$scope.loginErr = true;
		
	}
	
	$scope.addNonWorkingDay = function() {		
		var today = new Date()
		var tomorrow = new Date(today)
		tomorrow.setDate(tomorrow.getDate() + 1)
		$scope.nonWorkingDays.push({start:today, end:tomorrow});
	}
	
	$scope.removeNonWorkingDay = function(nwd) {				
		for(var nw = 0; nw < $scope.nonWorkingDays.length; nw++) {
			var tnwd = $scope.nonWorkingDays[nw];
			if (tnwd.start == nwd.start && tnwd.end == nwd.end) {
				$scope.nonWorkingDays.splice(nw, 1);
				break;
			}
		}				
	}
	
	$scope.storeConfig = function() {				
		//persist
		var cocktailParam = {};		
		cocktailParam.TotClasses = $scope.TotClasses;
		cocktailParam.weeks = $scope.weeks;
		cocktailParam.startDT = $scope.startDT;
		cocktailParam.nonWorkingDays = $scope.nonWorkingDays;
		var json = JSON.stringify(cocktailParam);		
		$http.put("https://json.extendsclass.com/bin/9f183e367aee", json, 
		{			
			headers:{ 'Security-key':  $scope.cfgPwd}
		}).then(function (response) {           
			$scope.findSchedules();
			$scope.showCfg = false;
		}, function (error) {
            $scope.err = error.data.message;
			return;
        });
		
		
		
	}
	
	//main calls
	$scope.init();
	$scope.findSchedules();
});
</script>

</body>
</html>
