<!DOCTYPE html>
<html lang="en">
<head>
	<title>BJJ Fribourg Program schedule</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.css' rel='stylesheet' />
	
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.js'></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
</head>

<body>
<div class="container">	
	<div ng-app="myApp" ng-controller="myCtrl">		
		
		<div ng-show="err" class="alert alert-danger">{{err}}</div>
		<button ng-show="!inCfgMode()" class="btn btn-primary" ng-click="loginErr = null;cfgPwd = null; showCfgPwd = true">Configuration</button>
		<div ng-show="showCfgPwd" class="panel panel-default">
			<div class="panel-heading">Enter password</div>			
			<div class="panel-body">
				<form>					
					<div class="form-group">
					  <div ng-show="loginErr" class="alert alert-danger">Invalid login</div>
					</div>
					<div class="form-group">
					  <label for="pwd">Password:</label>
					  <input type="password" class="form-control" id="pwd" ng-model="cfgPwd">					 
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="login()">OK</button>
						<button class="btn btn-primary" ng-click="cfgPwd=null;showCfgPwd = false">Cancel</button>
					</div>
				</form>				
				
			</div>
		</div>
		
		<div ng-show="showCfg" class="panel panel-default">
			<div class="panel-heading">Configuration</div>			
			<div class="panel-body">
				<form>										
					<div class="form-group">
					  	<label for="classNo">Number of classes:</label>
						<input type="number" class="form-control" id="classNo" ng-model="TotClasses">
					</div>
					<div class="form-group">
					  	<label for="weeksNo">Number of weeks to schedule:</label>
						<input type="number" class="form-control" id="weeksNo" ng-model="weeks">
					</div>
					<div class="form-group">
					  	<label for="startDT">Schedule start date:</label>
						<input type="date" class="form-control" id="startDT" ng-model="startDT">
					</div>
					<div class="form-group">
					  	<label for="nonWorkingDays">Non working days:</label>
						<div ng-repeat="nwd in nonWorkingDays">
							<div class="well">
								From:
								<input type="date" class="form-control"  ng-model="nwd.start">
								To:
								<input type="date" class="form-control"  ng-model="nwd.end">
							</div>
						</div>
						
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="storeConfig()">OK</button>
					</div>
				</form>				
				
			</div>
		</div>
		
		
		<pre ng-show="false">{{output}}</pre>
		<div ng-show="false">{{crtData}}</div>
		<div ng-show="showCal && !inCfgMode()">		
			<div class="alert alert-info">
				<strong>Gracie Combatives</strong>
				<br/>
				Schedule for the next {{weeks}} weeks starting from {{startDT| date:'yyyy/MM/dd'}}
			</div>
			<div id='calendar' ></div>  
		</div>
	</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $filter) {    
			
	$scope.init = function() {
		$scope.ADJTOSEARCH = 7;		
		
		//editable
		$scope.TotClasses = 23;
		$scope.weeks = 52;
		$scope.startDT = new Date();		
		$scope.nonWorkingDays = [{start:new Date('2021-12-23'), end:new Date('2022-01-03')}];
		$scope.startData = [];
		$scope.startData.push({day: "Mon", hour: "19:15", lessons: [2, 22, 18, 5, 23, 19, 22, 14]}); //slot 1 Mon 19:15
		$scope.startData.push({day: "Tue", hour: "18:00", lessons: [20, 13, 15, 3, 20, 1, 12, 23, 5 ]}); //slot 2 Tue 18:00
		$scope.startData.push({day: "Wed", hour: "12:00", lessons: [18, 21, 15, 10, 4, 13, 17 ]}); //slot 3 Wed 12:00
		$scope.startData.push({day: "Wed", hour: "19:15", lessons: [9, 5, 23, 21, 21, 4, 9, 7, 2 ]}); //slot 4 Wed 19:15
		$scope.startData.push({day: "Thu", hour: "12:00", lessons: [4, 7, 5, 2, 20, 21, 19 ]}); //slot 5 Thu 12:00
		$scope.startData.push({day: "Thu", hour: "18:00", lessons: [17, 12, 16, 8, 8, 17, 18, 8, 10]});//slot 6 Thu 18:00
		$scope.startData.push({day: "Fri", hour: "12:00", lessons: [21, 11, 22, 3, 6, 11, 9 ]}); //slot 7 Fri 12:00
		$scope.startData.push({day: "Fri", hour: "19:15", lessons: [7, 19, 14, 16, 15, 3, 11  ]}); //slot 8 Fri 19:15
		$scope.startData.push({day: "Sat", hour: "11:00", general: true}); //slot 9 Sat 11:00
		//
		
		
		$scope.output = '';
		$scope.err;
		
		$scope.crtDT;
		$scope.showCal = false;
		$scope.showCfg = false;
		$scope.showCfgPwd = false;
		$scope.loginErr = false;
		$scope.cfgPwd;
		
		
		
		
	}
	
	
	$scope.add1Hour = function(dt) {
		dt.setTime(dt.getTime() + (1*60*60*1000));
		return dt;
	}	
	
	$scope.findSchedules = function() {
        $scope.err = null;
		$scope.crtDT = angular.copy($scope.startDT);
		$scope.classes = [];
		$scope.crtData = angular.copy($scope.startData);		
		for(var d = 1; d <= $scope.weeks * 7; d++) {
			$scope.crtDT.setDate($scope.crtDT.getDate() + 1);
			if ($scope.isNonWorkingDay($scope.crtDT))
				continue;
			
			for (var iSlt = 0; iSlt < $scope.crtData.length; iSlt++) {
				var slot = $scope.crtData[iSlt];
				if ($scope.crtDT.toString().split(' ')[0] != slot.day)
					continue;
				if (slot.general) {
					slot.crtDate = angular.copy($scope.crtDT);					
					slot.crtDate.setHours(slot.hour.split(':')[0], slot.hour.split(':')[1]);					
					$scope.classes.push({title: 'General', start: angular.copy(slot.crtDate)});					
					$scope.output += "Slot: " + (iSlt + 1) + ", general class, for: " +  slot.crtDate + "\r\n";                		
				}
				else {
					var cFound = -1;
					for (var adjMax = $scope.ADJTOSEARCH; adjMax >= 3; adjMax--) {
						for (var c = 1; c <= $scope.TotClasses; c++) {
							var good = !$scope.IsLastInAdjacent(adjMax, iSlt, c);
							if (good)
								good = !$scope.IsInLastX(slot.lessons, $scope.TotClasses, c);
							if (good) {
								if (adjMax != $scope.ADJTOSEARCH)
									$scope.output += "...using adj = " + adjMax + "\r\n";
								cFound = c;
								break;
							}	
						}
						if (cFound > 0)
							break;
					}
					if (cFound == -1)
						for (var inLast = $scope.TotClasses; inLast >= $scope.TotClasses - 7; inLast--) {
							for (var c = 1; c <= $scope.TotClasses; c++)
							{
								var good = !$scope.IsLastInAdjacent($scope.ADJTOSEARCH, iSlt, c);
								if (good)
									good = !$scope.IsInLastX(slot.lessons, inLast, c);
								if (good) {
									if (inLast!= $scope.TotClasses)
										$scope.output += "...using inLast = " + inLast + "\r\n";
									cFound = c;
									break;
								}
							}
							if (cFound > 0)
								break;
						}			
					slot.lessons.push(cFound);
					if (cFound > 0) {                									
						slot.crtDate = angular.copy($scope.crtDT);										
						slot.crtDate.setHours(slot.hour.split(':')[0], slot.hour.split(':')[1]);
						$scope.classes.push({title: 'Class ' + cFound, start: angular.copy(slot.crtDate), });					
						$scope.output += "Slot: " + (iSlt + 1) + ", found new class: " + cFound + ", for: " +  slot.crtDate + "\r\n";                		
						
					}
					else  {              
						var msg = "Slot: " + (iSlt + 1) + ", day: " + $filter('date')($scope.crtDT,'yyyy-MM-dd')  + ", did not find new class!!!" + "\r\n";
						$scope.output +=  msg
						$scope.err = msg;
					}
						
				
				}
			}
		}					
		$("#calendar").fullCalendar('destroy');
		$('#calendar').fullCalendar({  events: $scope.classes, timeFormat: 'HH:mm', contentHeight: "auto"});		
		$scope.showCal = true;
		
    };
	
	$scope.IsLastInAdjacent = function(adjMax, slot, c) {
		//check adjacent slots 
		/*
		var adjSlots = [];            
            
		var adjSlotMin = slot;
		for (var adj = 0; adj < adjMax; adj++)
		{                
			adjSlotMin--;
			if (adjSlotMin < 0)
				adjSlotMin = $scope.crtData.length - 1;
			adjSlots.push(adjSlotMin);
		}
					
		
		for(var sltIdx = 0; sltIdx < $scope.crtData.length; sltIdx++)
		{
			var slt = $scope.crtData[sltIdx];
			if ($scope.Contains(adjSlots, sltIdx))
				if (slt.lessons != null && slt.lessons.length > 0)
					if (slt.lessons[slt.lessons.length - 1] == c)
						return true;
		}
		*/
		
		//check timely adjacent slots						
		for(var cIdx = $scope.classes.length - 1; cIdx >= Math.max(0, $scope.classes.length - adjMax); cIdx--) {
			var cls = $scope.classes[cIdx];
			if (cls.title == "Class " + c)
				return true;
		}
		
		return false;
	}
	
	$scope.IsInLastX = function(collection, lastX, c) {		
		if (collection != null) {
			if (collection.length > lastX)
			{
				for (var i = collection.length - lastX; i < collection.length; i++)
					if (collection[i] == c)
						return true;
			}
			else
				return $scope.Contains(collection, c);

		}
		return false;
	}
	
	$scope.Contains = function(collection, val) {
		for(var i = 0; i < collection.length; i++)
			if (collection[i] == val)
				return true;
		return false;
	}
		
	
	$scope.isNonWorkingDay = function(crtDate) {		
		for(var inwd = 0; inwd < $scope.nonWorkingDays.length; inwd++) {
			var nwd = $scope.nonWorkingDays[inwd];
			if (nwd.start <= crtDate && crtDate <= nwd.end) {									
				return true;
			}
		}		
		
		return false;
	}
			
    $scope.inCfgMode = function() {
		return $scope.showCfg || $scope.showCfgPwd;
	}
	
	$scope.login = function() {		
		$scope.loginErr = false;
		var hashObj = new jsSHA("SHA-512", "TEXT", {numRounds: 1});
		hashObj.update($scope.cfgPwd);
		var hash = hashObj.getHash("HEX");
		if (hash == "c86d7d9e8b66b6a5e6511c7d51d7da0bb5f8316551024750555fb418d568235ba8fb877a4718c5f332ba859eaf0130f23c169dad9c38c829f3b42710ab16428f") {
			$scope.showCfgPwd = false;
			$scope.showCfg = true;
		} else
			$scope.loginErr = true;
		
	}
	
	$scope.storeConfig = function() {				
		$scope.findSchedules();
		$scope.showCfg = false;
	}
	
	//main calls
	$scope.init();
	$scope.findSchedules();
});
</script>

</body>
</html>
